section #description{
    background-color: black;
}
.smalltxt{
    text-align: center;
}
* {box-sizing:border-box}

.container-skill {
  width: 50%; 
  background-color: #ddd; 
}

.skills {
  text-align: right;  
  color: white; 
}

.html {width: 90%; background-color: #4CAF50;} 
.css {width: 80%; background-color: #2196F3;} 
.js {width: 65%; background-color: #f44336;} 
.php {width: 60%; background-color: #808080;} 
